on:
  push:
    branches: [master]
  pull_request:

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: setup node v14
      uses: actions/setup-node@v1
      with:
        node-version: 14
        cache: 'npm'

    - name: yarn install
      run: yarn install

    - name: ESLint
      uses: icrawl/action-eslint@v1
      with:
        custom-glob: src
